################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AirTek/bin
/AirTek/obj
*.props
*.targets
*.cache
*.suo
*.sqlite
*.v2
/.vs/VSWorkspaceState.json
